.cart-page {
	padding-top: 10px;

	.cart-item-holder {

		.heading {
			text-align: left;
		}

		.list-group {
			width: 100%;

			.list-group-item {
			}
		}
	}

	.cart-summary {
		.list-group {
			.list-group-item {
				display: flex;
				justify-content: space-between;
				.left {
					font-weight: bolder;
				}
			}
		}
	}
}
