.cart-item-component {
	.cart-item {
		flex: 1;
		display: flex;

		.img {
			width: 60px;
			height: 60px;

			img {
				width: 100%;
				height: 100%;
			}
		}

		.details {
			display: flex;
			flex: 1;
			flex-direction: column;

			.other-info {
				display: flex;
				justify-content: flex-start;
				padding: 0 8px;
				font-size: 12px;
			}

			.actions {
				display: flex;
				padding: 0 8px;
				margin-top: 10px;

				.form-control {
					height: 31px;
					width: 100px;
					padding: 0.25rem 0.5rem;
				}

				.remove-button {
					margin-left: 10px;

					.fa {
						margin-right: 6px;
					}
				}
			}

			.all-details {
				flex: 1;
				display: flex;
				justify-content: space-between;
				padding: 4px 8px;

				.name {
					font-size: 18px;
				}

				.price {
					.actual {
						font-size: 12px;
						color: grey;
						text-decoration: line-through;
						margin-right: 10px;
					}

					.discounted {
						font-size: 18px;
						font-weight: bolder;
					}
				}
			}
		}
	}
}
